/* HEADER MAKEN */

.axis path,
.axis line {
  fill : none;
  stroke : black;
  shape-rendering : crispEdges;
}

.graph {
  display : block;
  margin : auto;
}

.link, .title, .info {
  text-align: center;
}

.tooltip {
  position: absolute;
  width: 280px;
  height: 80px;
  padding: 2px;
  font: 14px;
  background: violet;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.high {
  fill: red;
}

.medium {
  fill: HotPink;
}

.low {
  fill: pink
}

.legendText {
  text-align: right;
  font-size: 15px;
}

.legend {
  width: 30px;
  height: 15px;
}
